@import "nier/longbutton";
@import "nier/slider";
@import "nier/sliderbutton";
@import "nier/button";
@import "nier/dropdown";
@import "nier/others";

.settings-button {
  background: #cd664d;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
