window {
    margin: 2px;
    border: 3px solid #f5c2e7;
    background-color: #f5c2e7;
    border-radius: 8px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #f5c2e7;
    background-color: #1e1e2e;
   	outline: none;
}

#inner-box {
    margin: 4px;
    border: 10px solid #1e1e2e;
    background-color: #1e1e2e;
    border-radius: 8px;
}

#outer-box {
    margin: 2px;
    border: none;
    border-radius: 8px;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text:selected {
    color: #1e1e2e;
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #f5c2e7;
}
