@import "../color.scss";

$accent_border: 3px;
$accent_border_dist: 3px;
$button_dist_from_ruler: 14px;
$button_spacing_vertical: 10px;
$button_spacing_horizontal: 5px;

//.nier-long-button-container = pointer + buttons
.nier-long-button-group-vertical .nier-slider-button-container {
  margin-bottom: $button_spacing_vertical;
  &:last-child {
    margin-bottom: 0;
  }
}
// same but horizontal
.nier-long-button-group .nier-slider-button-container {
  margin-right: $button_spacing_horizontal;
  &:last-child {
    margin-right: 0;
  }
}

.nier-slider-button label {
  margin-right: 50px;
}

.nier-slider-button-box {
  padding-top: 0px;
  padding-bottom: 0px;
  //   border: none;
  border-top: transparent $accent_border solid;
  border-bottom: transparent $accent_border solid;
  min-width: 150px;
  transition: border 0.3s ease-in-out;
}

.nier-slider-button-box-hover {
  padding-top: $accent_border_dist;
  padding-bottom: $accent_border_dist;
  border-top: $brown $accent_border solid;
  border-bottom: $brown $accent_border solid;
}

.nier-slider-button {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(
    90deg,
    rgba($brown, 0.25) 0%,
    rgba($brown, 0.25) 50%,
    $brown 50%,
    $brown 100%
  );
  background-size: 200%;
  transition: background 1s cubic-bezier(0.15, 0.79, 0, 1);
  label {
    font-size: 1.5rem;
    color: $brown;
    padding: 8px 8px 7px;
    // transition: color 0.3s ease-in-out;
  }
  transition: background 0.1s cubic-bezier(0.15, 0.79, 0, 1),
    border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.nier-slider-button-hover {
  padding-top: calc(0px - #{$accent_border_dist});
  padding-bottom: calc(0px - #{$accent_border_dist});

  label {
    font-size: 1.5rem;
    padding: 8px 8px 7px;
    color: $tan;
    // transition: color 0.3s ease-in-out;
  }
  background-position: -100%;

  transition: background 1s cubic-bezier(0.15, 0.79, 0, 1);
}
